@inherits LayoutComponentBase

<div class="app-shell">
    <NavMenu />

    <main class="app-main">
        <div class="app-content">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    Der opstod en uventet fejl.
    <a href="" class="reload">Genindlæs</a>
    <a class="dismiss">🗙</a>
</div>
